*{
    margin:0;
    padding:0;
}
.emp-container{
    background-image: radial-gradient(rgb(205, 205, 167),rgb(163, 15, 126));
}

.emp-header{
    text-align: center;
    color:white;
}

.btn-send{
    text-align: center;
    margin-top:30px;
    padding-bottom: 60px;
}
